# THIS FILE IS EXCLUSIVELY MAINTAINED by the project aedev.project_tpls v0.3.102
anybadge
flake8
mypy
pylint

pytest
pytest-cov                  # includes coverage package

typing
types-setuptools            # for mypy
